{% extends 'base.html.twig' %}

{% block title %}
  Cadastre-se!
{% endblock %}

{% block body %}
  <h1>Cadastre-se!</h1>

  {{ form_errors(registrationForm) }}

  {{ form_start(registrationForm) }}
  {{ form_row(registrationForm.usuario) }}
  {{ form_row(registrationForm.nome) }}
  {{ form_row(registrationForm.telefone) }}
  {{ form_row(registrationForm.plainPassword, { label: 'Senha' }) }}

  <button type="submit" class="btn">Cadastrar</button>
  {{ form_end(registrationForm) }}
{% endblock %}
