<div x-data="{ alertaVisivel: true }" x-show="alertaVisivel" x-init="setTimeout(() => alertaVisivel = false, 3000)" role="alert"
	class="flex flex-row justify-around items-center h-24 sm:h-12 alert alert-{{ type }} alert-vertical sm:alert-horizontal" x-transition:leave="transition ease-in duration-300" x-transition:leave-start="opacity-100 scale-100" x-transition:leave-end="opacity-0 scale-90">
	<i class="ph {{ this.getIcon }} text-2xl text-{{ type }}-content"></i>
	<span class="ml-2 text-sm font-semibold text-{{ type }}-content">
		{{ message }}
	</span>
	<div>
		<button type="button" @click="alertaVisivel = false" class="btn btn-ghost btn-xs btn-circle border-0 hover:bg-white/10 text-white" aria-label="Dispensar alerta">
			<i class="ph ph-x text-md"></i>
		</button>
	</div>
</div>
