{% extends 'base.html.twig' %}

{% block title %}
  Log in!
{% endblock %}

{% block body %}
  <form method="post" class="flex flex-col items-center justify-center gap-6">
    {% if app.user %}
      <div class="mb-3 flex space-x-2 bg-base-200 px-4 py-2 rounded-xl items-center justify-between shadow-md">
        <span class="">Você está logado como <span class="font-bold">{{ app.user.nome }} ({{ app.user.userIdentifier }})</span></span>
        <a class="btn btn-md btn-error tooltip tooltip-error" data-tip="Você quer mesmo sair?" href="{{ path('borae_sair') }}"><i class="ph ph-sign-out text-lg"></i>Sair</a>
      </div>
    {% endif %}

    <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4 shadow-lg">
      <legend class="fieldset-legend">Faça login no Boraê!</legend>

      <label class="label" for="username">Usuário</label>
      <input type="text" value="{{ ultimo_usuario }}" name="_username" id="username" class="input" placeholder="Digite seu usuário" autocomplete="username" required autofocus />

      <label class="label" for="password">Senha</label>
      <input type="password" name="_password" id="password" class="input" placeholder="Digite sua senha" autocomplete="current-password" required />
      <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}" />

      <button class="btn btn-lg btn-success mt-4" type="submit">Entrar</button>
    </fieldset>
  </form>
{% endblock %}
